#deleting_single_enter{
	margin-bottom: 20px;
}

.separator-width{
  background-color: #B58900;
  height: 1px;
  margin: 3rem 0rem;
}

#alpha_sorting_handles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0rem;
}